In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
label = ['a', 'b', 'c']
my_data = [10, 20, 30]
dt = pd.Series(data=my_data, index=label, dtype=np.int32)
print(dt)
# Print the data as a table
dt.to_frame()

a    10
b    20
c    30
dtype: int32

    0
a  10
b  20
c  30

## DataFrame

In [3]:
row = ['John', 'Bob', 'Alice', 'Mary', 'Mike']
col = ['age', 'state', 'score', 'grade']
data = [[23, 'CA', 90, 'A'], [20, 'NY', 80, 'B'], [
    25, 'TX', 70, 'C'], [27, 'FL', 60, 'D'], [30, 'WA', 50, 'F']]
df = pd.DataFrame(data=data, index=row, columns=col)
print(df,'\n')
df['gender'] = ['M', 'M', 'F', 'F', 'M']
print(df.loc[['John']],'\n')
print(df.info(),'\n')
print(df.describe())

       age state  score grade
John    23    CA     90     A
Bob     20    NY     80     B
Alice   25    TX     70     C
Mary    27    FL     60     D
Mike    30    WA     50     F

      age state  score grade gender
John   23    CA     90     A      M

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, John to Mike
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     5 non-null      int64
 1   state   5 non-null      object
 2   score   5 non-null      int64
 3   grade   5 non-null      object
 4   gender  5 non-null      object
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes
None

             age      score
count   5.000000   5.000000
mean   25.000000  70.000000
std     3.807887  15.811388
min    20.000000  50.000000
25%    23.000000  60.000000
50%    25.000000  70.000000
75%    27.000000  80.000000
max    30.000000  90.000000